In [31]:
# Run this code in conda environment "MDN" to make MDN part working correctly.

In [32]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [33]:
#pd.set_option('display.max_rows' , 500)

#  field chla data preparation

In [34]:
field_data = pd.read_csv('../Data/BP_data.csv', skiprows=[1], parse_dates=['Date'], index_col= 'SampleID')
field_data

,Dataset,Date,Time,SiteNumber,latitude,Longitude,BottomDepth,sampledepth,SecchiDiskDepth,SamplingInScum,...,Diatom_Synedra,Diatom_Cocconeis,Diatom_Nitzchia,Diatom_Navicula,Diatom_Fragillaria,Diatom_Tabellaria,Diatom_Gomphenema,Diatom_Astrionella,Flagellates,Other
SampleID,,,,,,,,,,,,,,,,,,,,,
1,Buoy,2014-06-11,6:15:00 PM,1,50.586139,-105.384833,4.3,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Buoy,2014-06-11,6:30:00 PM,1,50.586139,-105.384833,4.3,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Buoy,2014-06-11,6:45:00 PM,1,50.586139,-105.384833,4.3,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Buoy,2014-06-11,7:00:00 PM,1,50.586139,-105.384833,4.3,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Buoy,2014-06-11,7:15:00 PM,1,50.586139,-105.384833,4.3,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110085,Calibration,2019-08-30,11:37:00 AM,1,50.586139,-105.384833,4.3,3.5,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
110086,Calibration,2019-09-03,12:05:00 PM,1,50.586139,-105.384833,4.3,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
110087,Calibration,2019-09-03,12:05:00 PM,1,50.586139,-105.384833,4.3,0.8,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
110088,Calibration,2019-09-03,12:05:00 PM,1,50.586139,-105.384833,4.3,2.8,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
110089,Calibration,2019-09-03,12:05:00 PM,1,50.586139,-105.384833,4.3,3.5,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
#buoy calibration
filt_dataset = field_data['Dataset'] == 'Buoy'
field_data.loc[filt_dataset, 'Lab_Chla'] = (5 * field_data[filt_dataset]['BGAPCShallowRFU']) ** (100/99)
field_data['Lab_Chla'].head()

SampleID
1    18.533269
2    17.493540
3    16.454429
4    19.053354
5    16.454429
Name: Lab_Chla, dtype: float64

In [36]:
# drop the buoy observations associated with biofouling error
field_data = field_data[field_data['shallow_sonde_biofouling_outlier'] != 1].copy()
# drop the associated column 
field_data.drop('shallow_sonde_biofouling_outlier', axis=1, inplace=True)

In [37]:
# drop the lab observations labeld as error
field_data = field_data[field_data.Lab_chlaOutlier != 1].copy()
# drop the associated column 
field_data.drop('Lab_chlaOutlier', axis=1, inplace=True)
field_data

,Dataset,Date,Time,SiteNumber,latitude,Longitude,BottomDepth,sampledepth,SecchiDiskDepth,SamplingInScum,...,Diatom_Synedra,Diatom_Cocconeis,Diatom_Nitzchia,Diatom_Navicula,Diatom_Fragillaria,Diatom_Tabellaria,Diatom_Gomphenema,Diatom_Astrionella,Flagellates,Other
SampleID,,,,,,,,,,,,,,,,,,,,,
1,Buoy,2014-06-11,6:15:00 PM,1,50.586139,-105.384833,4.3,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Buoy,2014-06-11,6:30:00 PM,1,50.586139,-105.384833,4.3,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Buoy,2014-06-11,6:45:00 PM,1,50.586139,-105.384833,4.3,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Buoy,2014-06-11,7:00:00 PM,1,50.586139,-105.384833,4.3,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Buoy,2014-06-11,7:15:00 PM,1,50.586139,-105.384833,4.3,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110085,Calibration,2019-08-30,11:37:00 AM,1,50.586139,-105.384833,4.3,3.5,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
110086,Calibration,2019-09-03,12:05:00 PM,1,50.586139,-105.384833,4.3,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
110087,Calibration,2019-09-03,12:05:00 PM,1,50.586139,-105.384833,4.3,0.8,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
110088,Calibration,2019-09-03,12:05:00 PM,1,50.586139,-105.384833,4.3,2.8,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
110089,Calibration,2019-09-03,12:05:00 PM,1,50.586139,-105.384833,4.3,3.5,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [38]:
# averaging field chla data over date and station
chl_data = field_data.groupby(['Date', 'SiteNumber', 'latitude', 'Longitude']).agg({'Lab_Chla' :'median'})
chl_data

                                              Lab_Chla
Date       SiteNumber latitude  Longitude
2014-01-06 2          50.585203 -105.385823        NaN
2014-01-13 2          50.585203 -105.385823   6.000000
2014-01-20 2          50.585203 -105.385823        NaN
2014-01-27 2          50.585203 -105.385823   7.000000
2014-02-03 2          50.585203 -105.385823        NaN
...                                                ...
2019-09-29 1          50.586139 -105.384833  38.898296
2019-09-30 1          50.586139 -105.384833  39.946201
2019-10-01 1          50.586139 -105.384833  39.946201
2019-10-02 1          50.586139 -105.384833  39.946201
2019-10-03 1          50.586139 -105.384833  41.518573

[1418 rows x 1 columns]

In [39]:
# drop (dates,stations) with no chla measured
chl_data.dropna(axis=0, inplace=True)
chl_data

                                              Lab_Chla
Date       SiteNumber latitude  Longitude
2014-01-13 2          50.585203 -105.385823   6.000000
2014-01-27 2          50.585203 -105.385823   7.000000
2014-02-10 2          50.585203 -105.385823  19.000000
2014-02-24 2          50.585203 -105.385823  14.000000
2014-03-10 2          50.585203 -105.385823   8.000000
...                                                ...
2019-09-29 1          50.586139 -105.384833  38.898296
2019-09-30 1          50.586139 -105.384833  39.946201
2019-10-01 1          50.586139 -105.384833  39.946201
2019-10-02 1          50.586139 -105.384833  39.946201
2019-10-03 1          50.586139 -105.384833  41.518573

[1232 rows x 1 columns]

In [40]:
chl_data.reset_index(level=['Date', 'SiteNumber', 'latitude', 'Longitude'], inplace=True)
chl_data.index
chl_data.dtypes

Date          datetime64[ns]
SiteNumber             int64
latitude             float64
Longitude            float64
Lab_Chla             float64
dtype: object

# Extract satelite data

In [41]:
# create a dataframe for images in the directory
import os, fnmatch

listOfFiles = os.listdir('../Data/S2_img_AC_acolite_2014-2019')
pattern = "*_L2W.nc"
img_list = []
for entry in listOfFiles:
    if fnmatch.fnmatch(entry, pattern):
            img_list.append(entry)
        
img_dates = [i[8:18] for i in img_list]   
number_of_images = len(img_list)
sat_dates = pd.DataFrame(data = img_dates, columns = ['Date'], index = range(0, number_of_images))
sat_dates['#img'] = range(0, number_of_images)
sat_dates.head()

         Date  #img
0  2017_04_08     0
1  2017_04_15     1
2  2017_04_28     2
3  2017_05_05     3
4  2017_05_18     4

In [42]:
sat_dates['Date'] = pd.to_datetime(sat_dates['Date'], format='%Y_%m_%d')

In [43]:
# create a dataframe from merging chla data and image names (based on same date)
merged_data = pd.merge(chl_data, sat_dates, on = 'Date')
merged_data

          Date  SiteNumber   latitude   Longitude   Lab_Chla  #img
0   2017-05-18           1  50.586139 -105.384833   3.033477     4
1   2017-06-07           1  50.586139 -105.384833   3.033477     5
2   2017-07-04           1  50.586139 -105.384833   5.595528     6
3   2017-07-04           3  50.597500 -105.408000   7.290000     6
4   2017-07-17           1  50.586139 -105.384833  20.093948     7
..         ...         ...        ...         ...        ...   ...
102 2019-09-07           1  50.586139 -105.384833  55.694448    67
103 2019-09-15           1  50.586139 -105.384833  39.422214    38
104 2019-09-20           1  50.586139 -105.384833  36.803339    68
105 2019-09-22           1  50.586139 -105.384833  33.663162    39
106 2019-09-25           1  50.586139 -105.384833  37.850673    40

[107 rows x 6 columns]

In [44]:
# extracting reflectance values of correspond pixels to in-situ data
from netCDF4 import Dataset
Ref = [[]*0]*0 
for index, row in merged_data.iterrows():
    dataset = Dataset('../Data/S2_img_AC_acolite_2014-2019/' + img_list[merged_data.loc[index]['#img']])
    keys = dataset.variables.keys()
    dataset_1D = {}
    for key in keys:
        dataset_1D[key] = dataset.variables[key][:].flatten()

    dist = ((dataset_1D['lon'][:] - row['Longitude']) ** 2 + (dataset_1D['lat'][:] - row['latitude']) ** 2) ** (1/2) 
    idx_mins = dist.argsort()[:6]
    
    Rrs = []
    for key in keys:
        if 'Rrs' in key:        
            Rrs.append((dataset_1D[key][idx_mins]).mean())
    Ref.append(Rrs)

In [45]:
# name of columns to add to dataframe
added_ref = ['Rrs_443', 'Rrs_492', 'Rrs_560' , 'Rrs_665', 'Rrs_704', 'Rrs_740', 'Rrs_783', 'Rrs_833', 'Rrs_865', 'Rrs_1614' , 'Rrs_2202']

In [46]:
# crate a dataframe of ref data
sat_ref = pd.DataFrame(data = Ref, columns = added_ref)
sat_ref

,Rrs_443,Rrs_492,Rrs_560,Rrs_665,Rrs_704,Rrs_740,Rrs_783,Rrs_833,Rrs_865,Rrs_1614,Rrs_2202
0,-0.000210,0.002320,0.008061,0.002002,0.002088,0.001217,0.001300,0.001376,0.001050,0.000141,0.000044
1,-0.000399,0.002583,0.010152,0.002968,0.002678,0.001908,0.001909,0.001841,0.001653,0.000230,0.000001
2,0.000948,0.003612,0.010687,0.003895,0.003828,0.003567,0.003550,0.002877,0.002930,0.000400,0.000000
3,0.000852,0.003128,0.010139,0.003633,0.003538,0.003553,0.003564,0.002621,0.002903,0.000239,0.000000
4,0.014966,0.015721,0.019980,0.012158,0.014999,0.018366,0.017922,0.016363,0.015386,0.000510,0.000000
...,...,...,...,...,...,...,...,...,...,...,...
102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
106,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Merge sat and field data

In [47]:
# concating chla and ref dataframes 
samples = pd.concat([merged_data, sat_ref], axis = 1)
print(samples.shape)
samples

(107, 17)

,Date,SiteNumber,latitude,Longitude,Lab_Chla,#img,Rrs_443,Rrs_492,Rrs_560,Rrs_665,Rrs_704,Rrs_740,Rrs_783,Rrs_833,Rrs_865,Rrs_1614,Rrs_2202
0,2017-05-18,1,50.586139,-105.384833,3.033477,4,-0.000210,0.002320,0.008061,0.002002,0.002088,0.001217,0.001300,0.001376,0.001050,0.000141,0.000044
1,2017-06-07,1,50.586139,-105.384833,3.033477,5,-0.000399,0.002583,0.010152,0.002968,0.002678,0.001908,0.001909,0.001841,0.001653,0.000230,0.000001
2,2017-07-04,1,50.586139,-105.384833,5.595528,6,0.000948,0.003612,0.010687,0.003895,0.003828,0.003567,0.003550,0.002877,0.002930,0.000400,0.000000
3,2017-07-04,3,50.597500,-105.408000,7.290000,6,0.000852,0.003128,0.010139,0.003633,0.003538,0.003553,0.003564,0.002621,0.002903,0.000239,0.000000
4,2017-07-17,1,50.586139,-105.384833,20.093948,7,0.014966,0.015721,0.019980,0.012158,0.014999,0.018366,0.017922,0.016363,0.015386,0.000510,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102,2019-09-07,1,50.586139,-105.384833,55.694448,67,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
103,2019-09-15,1,50.586139,-105.384833,39.422214,38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
104,2019-09-20,1,50.586139,-105.384833,36.803339,68,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
105,2019-09-22,1,50.586139,-105.384833,33.663162,39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
106,2019-09-25,1,50.586139,-105.384833,37.850673,40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [48]:
#drop missing values in ref 
samples.dropna(axis=0, inplace=True)
samples

,Date,SiteNumber,latitude,Longitude,Lab_Chla,#img,Rrs_443,Rrs_492,Rrs_560,Rrs_665,Rrs_704,Rrs_740,Rrs_783,Rrs_833,Rrs_865,Rrs_1614,Rrs_2202
0,2017-05-18,1,50.586139,-105.384833,3.033477,4,-0.000210,0.002320,0.008061,0.002002,0.002088,0.001217,0.001300,0.001376,0.001050,0.000141,0.000044
1,2017-06-07,1,50.586139,-105.384833,3.033477,5,-0.000399,0.002583,0.010152,0.002968,0.002678,0.001908,0.001909,0.001841,0.001653,0.000230,0.000001
2,2017-07-04,1,50.586139,-105.384833,5.595528,6,0.000948,0.003612,0.010687,0.003895,0.003828,0.003567,0.003550,0.002877,0.002930,0.000400,0.000000
3,2017-07-04,3,50.597500,-105.408000,7.290000,6,0.000852,0.003128,0.010139,0.003633,0.003538,0.003553,0.003564,0.002621,0.002903,0.000239,0.000000
4,2017-07-17,1,50.586139,-105.384833,20.093948,7,0.014966,0.015721,0.019980,0.012158,0.014999,0.018366,0.017922,0.016363,0.015386,0.000510,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2019-07-29,1,50.586139,-105.384833,77.024402,63,0.003115,0.007206,0.018355,0.007344,0.017352,0.010898,0.011274,0.009329,0.007545,0.000096,0.000144
97,2019-08-11,1,50.586139,-105.384833,119.056578,64,0.004274,0.008520,0.020586,0.009508,0.020142,0.011754,0.011661,0.009617,0.007373,0.000105,0.000008
98,2019-08-18,1,50.586139,-105.384833,117.997073,65,0.001956,0.006759,0.018749,0.007857,0.018365,0.010210,0.010034,0.008219,0.006533,0.000057,0.000176
99,2019-08-21,1,50.586139,-105.384833,100.529651,66,0.003879,0.007416,0.020623,0.008424,0.018861,0.010246,0.010317,0.007981,0.006815,0.000014,0.000082
101,2019-09-05,1,50.586139,-105.384833,57.271969,37,0.001724,0.005002,0.014953,0.006766,0.013016,0.007161,0.006535,0.005563,0.004579,0.000469,0.000000

# Implement MDN

In [49]:
# prepare and save data to import to MDN
sat_ref_MDN = np.array(sat_ref.dropna(axis=0))[:,:7]
print(sat_ref_MDN)
np.savetxt("sat_ref_MDN.csv", sat_ref_MDN, delimiter=",")

[[-2.09765640e-04  2.31973897e-03  8.06056708e-03  2.00239499e-03
   2.08752463e-03  1.21714722e-03  1.30019512e-03]
 [-3.99375305e-04  2.58346763e-03  1.01522617e-02  2.96770618e-03
   2.67801806e-03  1.90786261e-03  1.90896029e-03]
 [ 9.48206696e-04  3.61236162e-03  1.06873764e-02  3.89533490e-03
   3.82831879e-03  3.56730237e-03  3.54983029e-03]
 [ 8.51780933e-04  3.12810019e-03  1.01393424e-02  3.63314780e-03
   3.53770959e-03  3.55285197e-03  3.56430630e-03]
 [ 1.49659170e-02  1.57210678e-02  1.99800078e-02  1.21579515e-02
   1.49987200e-02  1.83660220e-02  1.79224927e-02]
 [ 1.52818887e-02  1.60253663e-02  2.12811250e-02  1.33921690e-02
   1.68580022e-02  1.95817556e-02  1.89502686e-02]
 [ 1.06544383e-02  1.25398366e-02  1.69702452e-02  1.03156148e-02
   1.25483228e-02  1.72038171e-02  1.82624850e-02]
 [ 1.07370235e-03  3.94613715e-03  1.22233583e-02  5.90970926e-03
   7.70800002e-03  4.24789498e-03  3.84034286e-03]
 [ 7.11516710e-04  3.70116881e-03  1.20223342e-02  5.85199846e-03
   7.68475188e-03  4.20691120e-03  4.08636359e-03]
 [ 3.32072563e-03  7.20951753e-03  2.01827846e-02  8.98568984e-03
   2.04481035e-02  1.02602383e-02  9.73785389e-03]
 [ 8.42144480e-04  4.48148651e-03  1.47179617e-02  6.47292659e-03
   1.24487504e-02  5.50159300e-03  4.99630673e-03]
 [ 7.21045583e-03  9.41875577e-03  1.47350244e-02  1.02310963e-02
   1.18662985e-02  9.68522951e-03  9.00160894e-03]
 [ 1.15813233e-03  4.19267965e-03  8.76325462e-03  4.90363548e-03
   4.63040778e-03  2.70242500e-03  2.88365968e-03]
 [-2.13123742e-04  2.50081136e-03  6.62099943e-03  1.69281801e-03
   1.18320738e-03  9.28560039e-04  1.14342559e-03]
 [ 1.03316261e-05  2.53637880e-03  5.68366656e-03  1.95271836e-03
   1.45669060e-03  1.35924574e-03  1.46197202e-03]
 [ 2.79388856e-03  2.78387894e-03  4.92016692e-03  1.39107334e-03
   1.65348547e-03  2.73936428e-03  2.35593040e-03]
 [ 1.52984122e-03  4.43725614e-03  8.62095226e-03  2.42158654e-03
   2.20434158e-03  3.88109009e-03  4.11379104e-03]
 [ 4.28794650e-04  2.10506283e-03  8.51362851e-03  2.65636016e-03
   2.41999910e-03  2.19931290e-03  2.15434073e-03]
 [ 9.92979738e-04  5.12233796e-03  1.13260923e-02  4.60514426e-03
   4.59967135e-03  4.01406968e-03  3.44025344e-03]
 [ 3.22455610e-03  7.11571751e-03  1.79716330e-02  7.71940919e-03
   1.47122508e-02  8.05739779e-03  8.19350127e-03]
 [ 1.49063312e-03  4.79969988e-03  1.79729760e-02  7.34606059e-03
   1.62478816e-02  7.92149082e-03  8.09948798e-03]
 [ 1.35599577e-03  4.68699262e-03  1.80111323e-02  7.01784156e-03
   1.63898226e-02  7.95808528e-03  8.10183864e-03]
 [ 2.00113398e-03  5.06352959e-03  1.90501343e-02  7.80685013e-03
   2.05021743e-02  1.06519265e-02  1.05902767e-02]
 [ 2.79037305e-03  7.44247204e-03  1.82667822e-02  8.56716651e-03
   1.74515713e-02  1.03563992e-02  1.01945531e-02]
 [ 1.38301298e-03  4.30163741e-03  1.01569453e-02  4.51094843e-03
   7.06212642e-03  4.28013364e-03  4.61448217e-03]
 [ 1.24687713e-03  4.67038481e-03  1.01354336e-02  4.77409409e-03
   7.24535948e-03  4.42921231e-03  4.56409529e-03]
 [ 2.44063023e-03  6.19194703e-03  1.32184820e-02  5.67842880e-03
   5.28871873e-03  3.58313252e-03  3.94428382e-03]
 [ 1.64751522e-03  5.00932196e-03  1.30519262e-02  5.52723696e-03
   1.00752069e-02  5.33049414e-03  5.69890859e-03]
 [ 1.71896443e-03  4.87979548e-03  1.22290896e-02  5.10281045e-03
   7.68788531e-03  4.26396402e-03  4.58473386e-03]
 [ 3.26314732e-03  4.79265628e-03  1.31331729e-02  5.79228438e-03
   6.66099275e-03  4.70668683e-03  5.47729107e-03]
 [ 3.49519704e-03  5.28749079e-03  1.34462556e-02  5.94318844e-03
   6.37916429e-03  4.30388702e-03  5.20973885e-03]
 [ 4.34325123e-03  8.98759346e-03  1.90152917e-02  1.11307679e-02
   1.16937207e-02  5.52403182e-03  6.34766743e-03]
 [ 4.04438749e-03  8.10981356e-03  1.76467039e-02  9.83248278e-03
   1.01562114e-02  4.86133620e-03  5.62287262e-03]
 [ 3.92264361e-03  6.95270719e-03  1.51608186e-02  8.23244359e-03
   8.77750572e-03  4.71666921e-03  5.67810563e-03]
 [ 5.18842274e-03  9.90277249e-03  2.03271508e-02  1.27549656e-02
   1.41520826e-02  6.56881183e-03  6.96412101e-03]
 [ 5.28370589e-03  9.79380403e-03  1.90511048e-02  1.21506853e-02
   1.40278740e-02  6.67316513e-03  7.16446340e-03]
 [ 6.53379178e-03  1.17018698e-02  2.18334123e-02  1.48936464e-02
   1.45600960e-02  6.53409585e-03  7.40616163e-03]
 [ 2.38085934e-03  6.04547793e-03  1.52790323e-02  7.22349808e-03
   1.00741135e-02  7.31779821e-03  7.06333527e-03]
 [ 4.56254184e-03  7.39653921e-03  1.57958772e-02  7.50422338e-03
   1.01728775e-02  6.97782962e-03  7.18492968e-03]
 [ 4.71154787e-03  7.63501227e-03  1.53662553e-02  7.49841705e-03
   1.01044504e-02  7.32237799e-03  7.72253284e-03]
 [ 4.42557177e-03  5.23759797e-03  8.05414934e-03  3.76784313e-03
   4.87304060e-03  5.17036626e-03  5.42104943e-03]
 [ 8.66832118e-03  1.06722480e-02  1.95072796e-02  1.09398076e-02
   1.44859664e-02  1.22925499e-02  1.16863670e-02]
 [ 7.84652960e-03  1.06144873e-02  1.80422813e-02  1.07942661e-02
   1.49095217e-02  1.20048886e-02  1.11533133e-02]
 [ 9.83164087e-03  1.23206424e-02  1.99140888e-02  1.21725900e-02
   1.46288946e-02  1.16826864e-02  1.08204046e-02]
 [ 6.63633225e-03  7.92710576e-03  1.26636913e-02  8.07416532e-03
   9.94473975e-03  1.02278711e-02  9.97675676e-03]
 [ 1.14046438e-02  1.37947872e-02  2.03933027e-02  1.38570638e-02
   1.49297155e-02  1.21846134e-02  1.14933243e-02]
 [ 4.46347008e-03  6.07870379e-03  9.58379172e-03  6.22808421e-03
   7.46597489e-03  7.87591841e-03  7.53874006e-03]
 [ 6.29331218e-03  7.53220357e-03  1.06692472e-02  7.32081244e-03
   8.25698674e-03  8.57321266e-03  8.15148558e-03]
 [ 7.70278601e-03  9.39279422e-03  1.19887991e-02  8.25874507e-03
   9.23102442e-03  9.40952729e-03  8.92266352e-03]
 [ 6.94184611e-03  8.62944592e-03  1.14410901e-02  7.86166918e-03
   9.21653397e-03  9.07173660e-03  8.65174551e-03]
 [ 8.24717339e-03  1.09831728e-02  1.46349678e-02  1.01003200e-02
   1.01828650e-02  9.22009815e-03  8.60913564e-03]
 [ 8.60144198e-03  1.14480890e-02  1.56410541e-02  1.09306974e-02
   1.10469414e-02  9.83592216e-03  9.41439625e-03]
 [ 3.06819845e-03  6.06449274e-03  1.46107310e-02  6.59995014e-03
   8.23044311e-03  4.18728543e-03  4.07361612e-03]
 [ 4.82669799e-03  8.22467171e-03  1.75206903e-02  1.00325970e-02
   1.15150549e-02  7.40647828e-03  6.63273269e-03]
 [ 1.60404353e-03  5.00461413e-03  1.01008927e-02  4.38602874e-03
   4.26897965e-03  3.62008414e-03  3.22662666e-03]
 [ 4.91936551e-03  6.09913608e-03  9.43775289e-03  4.81773447e-03
   5.06351842e-03  5.67985373e-03  5.20776212e-03]
 [ 7.28906831e-03  8.39791633e-03  1.19048497e-02  6.44489005e-03
   6.75184280e-03  6.65629422e-03  5.92541462e-03]
 [ 6.63132779e-03  8.79259873e-03  1.39873615e-02  7.92119931e-03
   7.71025941e-03  6.51805522e-03  6.02065539e-03]
 [ 6.49066269e-03  8.63556657e-03  1.45318666e-02  8.26912466e-03
   8.26691743e-03  6.34496147e-03  5.89281134e-03]
 [ 6.90031284e-03  8.73524789e-03  1.47276791e-02  8.25890806e-03
   8.21586978e-03  6.14486216e-03  5.60916029e-03]
 [ 7.11037638e-03  8.21130630e-03  1.38383657e-02  7.74476444e-03
   7.97532126e-03  5.85922226e-03  5.78530924e-03]
 [ 2.87804776e-03  4.65112692e-03  7.54831312e-03  3.27880750e-03
   3.03884060e-03  3.49706667e-03  3.51262372e-03]
 [-1.77937129e-03  8.45858071e-04  5.68090426e-03  1.09415315e-03
   1.17367983e-03  1.31044292e-03  9.90521512e-04]
 [ 5.30075631e-04  3.41814640e-03  7.77811697e-03  2.80370470e-03
   2.77728867e-03  2.59251590e-03  2.34808424e-03]
 [ 2.83481297e-03  6.78923866e-03  1.69823281e-02  6.84221322e-03
   7.72003969e-03  4.04759916e-03  4.40629153e-03]
 [ 4.15368564e-03  6.99899299e-03  1.77699793e-02  6.48847641e-03
   1.06316870e-02  5.69449225e-03  6.12641079e-03]
 [ 4.67659766e-03  7.94794969e-03  1.93799902e-02  7.32242363e-03
   1.17629869e-02  6.30998425e-03  6.45772414e-03]
 [ 4.32113232e-03  7.29458779e-03  1.88142080e-02  6.94919610e-03
   1.17072240e-02  6.04753243e-03  6.40530558e-03]
 [ 2.82814703e-03  3.74333840e-03  6.04246510e-03  2.39665410e-03
   4.50287107e-03  4.33652615e-03  4.67281835e-03]
 [ 3.82926431e-03  6.87401975e-03  1.82336532e-02  6.93290634e-03
   1.44065507e-02  7.36718113e-03  7.69296288e-03]
 [ 4.25245566e-03  6.81404211e-03  1.49745494e-02  5.87903010e-03
   8.49603303e-03  5.44391572e-03  5.73836640e-03]
 [ 4.43126308e-03  6.58568041e-03  1.36270216e-02  5.24631003e-03
   6.65035984e-03  5.66174462e-03  6.09647296e-03]
 [ 3.04557942e-03  4.72702086e-03  9.30461939e-03  3.47067043e-03
   3.32060433e-03  4.21149237e-03  4.48813336e-03]
 [ 2.56769266e-03  4.81898477e-03  8.26014485e-03  3.81627376e-03
   4.57981182e-03  4.48387302e-03  4.92809014e-03]
 [ 2.82411207e-03  4.15776204e-03  7.08180107e-03  3.27375717e-03
   4.11793264e-03  4.29400336e-03  4.80736885e-03]
 [ 2.79747508e-03  4.50549787e-03  7.58414343e-03  3.35967704e-03
   4.07468388e-03  4.46536159e-03  5.13017690e-03]
 [ 2.98186229e-03  5.53040905e-03  9.21084639e-03  5.40315732e-03
   7.23681739e-03  5.87958843e-03  6.33975305e-03]
 [ 3.34640616e-03  5.95631963e-03  1.18643688e-02  6.39851904e-03
   6.83872961e-03  5.07365214e-03  5.76821016e-03]
 [ 4.29080008e-03  7.25148991e-03  1.47745116e-02  8.64360109e-03
   7.82291684e-03  5.55254892e-03  6.27179956e-03]
 [ 3.18654557e-03  7.58255972e-03  1.89399254e-02  8.62153061e-03
   1.59906093e-02  8.88533518e-03  8.93180910e-03]
 [ 3.11534968e-03  7.20626535e-03  1.83548965e-02  7.34443450e-03
   1.73518192e-02  1.08978748e-02  1.12739587e-02]
 [ 4.27379599e-03  8.52025300e-03  2.05856711e-02  9.50843561e-03
   2.01417413e-02  1.17537603e-02  1.16606290e-02]
 [ 1.95585424e-03  6.75889989e-03  1.87490527e-02  7.85735529e-03
   1.83645450e-02  1.02095082e-02  1.00339232e-02]
 [ 3.87921813e-03  7.41556240e-03  2.06227358e-02  8.42377637e-03
   1.88612323e-02  1.02463011e-02  1.03168711e-02]
 [ 1.72432803e-03  5.00171678e-03  1.49527611e-02  6.76572323e-03
   1.30159343e-02  7.16135139e-03  6.53475150e-03]]

In [50]:
# Run MDN 
! python -m MDN --sensor S2A sat_ref_MDN.csv

Min Rrs: [-0.00177937  0.00084586  0.00492017  0.00109415  0.00117368  0.00092856
  0.00099052]
Max Rrs: [0.01528189 0.01602537 0.02183341 0.01489365 0.02050217 0.01958176
 0.01895027]
Generating estimates for 85 data points
Min: [5.209888]
Max: [157.77429]
Saving estimates at location "MDN_sat_ref_MDN.csv"

  0%|          | 0/10 [00:00<?, ?it/s]
 10%|#         | 1/10 [00:03<00:33,  3.68s/it]
 20%|##        | 2/10 [00:07<00:28,  3.61s/it]
 30%|###       | 3/10 [00:10<00:25,  3.58s/it]
 40%|####      | 4/10 [00:14<00:21,  3.56s/it]
 50%|#####     | 5/10 [00:17<00:17,  3.56s/it]
 60%|######    | 6/10 [00:21<00:14,  3.56s/it]
 70%|#######   | 7/10 [00:24<00:10,  3.50s/it]
 80%|########  | 8/10 [00:28<00:07,  3.57s/it]
 90%|######### | 9/10 [00:31<00:03,  3.58s/it]
100%|##########| 10/10 [00:35<00:00,  3.50s/it]
100%|##########| 10/10 [00:35<00:00,  3.53s/it]

In [51]:
# read the output of MDN model and make format consistent with other models' outputs 
y_pred = pd.read_csv('MDN_sat_ref_MDN.csv')
y_pred = np.transpose(np.array(np.log10(y_pred)))
y_pred

array([[1.32628516, 1.248368  , 1.07146654, 1.13672469, 1.71897503,
        1.83735583, 1.74451895, 1.68740277, 1.66135705, 2.14498798,
        2.14030194, 1.95234145, 1.11372528, 0.71682839, 0.89824412,
        0.98115398, 0.7353698 , 1.23906635, 1.15433708, 1.9059268 ,
        2.16703072, 2.18350695, 2.19803623, 2.05738578, 1.6874759 ,
        1.72284978, 0.93889177, 1.91344025, 1.61222741, 1.25280851,
        1.17368897, 1.20888663, 1.19518439, 1.28083648, 1.33932414,
        1.4143271 , 1.15228623, 1.6252262 , 1.541398  , 1.53679623,
        1.38158262, 1.60601109, 2.04428899, 1.61088949, 1.79297526,
        1.59594979, 1.74128368, 1.71188655, 1.75027719, 1.7917345 ,
        1.63098457, 1.64834469, 1.46393903, 1.46433737, 1.06693098,
        1.18049051, 1.21849186, 1.15069011, 1.24556313, 1.2412626 ,
        1.30043354, 0.87604632, 1.4329483 , 1.19412375, 1.26983371,
        1.67695064, 1.69038734, 1.77712304, 1.89343548, 1.98199664,
        1.47343796, 1.26516182, 0.84286887, 1.34735266, 1.45953883,
        1.32553475, 1.63922733, 1.17377901, 0.77146893, 1.94004513,
        2.14297284, 2.09326188, 2.18941622, 2.15505104, 2.17033032]])

# Model development

In [52]:
y = samples.Lab_Chla
X = samples.drop('Lab_Chla', axis = 1)
X.head()

,Date,SiteNumber,latitude,Longitude,#img,Rrs_443,Rrs_492,Rrs_560,Rrs_665,Rrs_704,Rrs_740,Rrs_783,Rrs_833,Rrs_865,Rrs_1614,Rrs_2202
0,2017-05-18,1,50.586139,-105.384833,4,-0.000210,0.002320,0.008061,0.002002,0.002088,0.001217,0.001300,0.001376,0.001050,0.000141,0.000044
1,2017-06-07,1,50.586139,-105.384833,5,-0.000399,0.002583,0.010152,0.002968,0.002678,0.001908,0.001909,0.001841,0.001653,0.000230,0.000001
2,2017-07-04,1,50.586139,-105.384833,6,0.000948,0.003612,0.010687,0.003895,0.003828,0.003567,0.003550,0.002877,0.002930,0.000400,0.000000
3,2017-07-04,3,50.597500,-105.408000,6,0.000852,0.003128,0.010139,0.003633,0.003538,0.003553,0.003564,0.002621,0.002903,0.000239,0.000000
4,2017-07-17,1,50.586139,-105.384833,7,0.014966,0.015721,0.019980,0.012158,0.014999,0.018366,0.017922,0.016363,0.015386,0.000510,0.000000

In [53]:
y_trans_log10 = np.log10(y)

In [54]:
# computing traditional models
X['NDCI'] = (X['Rrs_704']- X['Rrs_665']) / (X['Rrs_704']+  X['Rrs_665'])
X['M09'] = X['Rrs_704'] / X['Rrs_665']
#X['T07'] = X['Rrs_665'] / X['Rrs_560']
X['D05'] = (X['Rrs_665']**(-1) - X['Rrs_704']**(-1)) * X['Rrs_740']
X['OC2'] = X['Rrs_492'] / X['Rrs_560']
X['OC3'] = pd.concat([X['Rrs_492'],X['Rrs_443']], axis=1).max(axis=1) / X['Rrs_560']

In [55]:
selected_features = []
#selected_features = added_ref[:5]
#selected_features.append('SiteNumber')
#selected_features.append('NDCI')
#selected_features.append('M09')
#selected_features.append('D05')
X_sel = pd.DataFrame(X[selected_features])
X_sel

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 13, 15, 16, 17, 18, 19, 20, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 59, 60, 63, 64, 65, 67, 68, 69, 70, 74, 76, 77, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 97, 98, 99, 101]

[85 rows x 0 columns]

In [56]:
# filt_outliers = X['Rrs_443'].between(X['Rrs_443'].quantile(.05), X['Rrs_443'].quantile(.95))
# X[filt_outliers].T.plot()
# X = X[filt_outliers]
# y = y[filt_outliers]

In [57]:
# from sklearn.preprocessing import scale 
# X_scaled = scale(X)
# X_scaled

In [58]:
## import models
#from sklearn.tree import DecisionTreeRegressor
#from sklearn.ensemble import RandomForestRegressor
#from xgboost import XGBRegressor
#from sklearn.svm import SVR
from sklearn.linear_model import LinearRegression
#from sklearn.cross_decomposition import PLSRegression

#model = DecisionTreeRegressor(max_depth=100)
#model = RandomForestRegressor(n_estimators=50, random_state=0)
#model = XGBRegressor(booster='gblinear',n_estimators=500, random_state=0, learning_rate = 0.1)
#model = SVR(kernel = 'rbf')
model = LinearRegression()
#model = PLSRegression(n_components = 4)

In [59]:
# create a pipeline
from sklearn.pipeline import Pipeline
my_pipeline = Pipeline(steps=[('model', model)])

In [60]:
# cross validation and accuracy assessment of model
from sklearn.model_selection import cross_val_score
mae = 10**(-1 * cross_val_score(my_pipeline, X_sel, y_trans_log10, cv=5, scoring='neg_mean_absolute_error').mean())
mae

C:\Users\amchegoo\Anaconda3\envs\MDN\lib\site-packages\sklearn\model_selection\_validation.py:528: FutureWarning: From version 0.22, errors during fit will result in a cross validation score of NaN by default. Use error_score='raise' if you want an exception raised or error_score=np.nan to adopt the behavior from version 0.22.
  FutureWarning)

ValueError: Found array with 0 feature(s) (shape=(68, 0)) while a minimum of 1 is required.

# validation performance

In [ ]:
# getting predictions from cross validation
from sklearn.model_selection import cross_val_predict
y_pred = cross_val_predict(my_pipeline, X_sel, y_trans_log10, cv=5)

In [ ]:
from scipy.io import savemat
savemat('y_pred.mat', {'y_pred': y_pred})
#y_trans_log10[y_trans_log10 == 0] = 0.05
savemat('y.mat', {'y': np.array(y_trans_log10)})

In [ ]:
img_list[62]

In [ ]:
from netCDF4 import Dataset
#Ref = [[]*0]*0 
#for index, row in merged_data.iterrows():
dataset = Dataset('../S2_img_AC_acolite_2014-2019/' + img_list[62])
keys = dataset.variables.keys()
dataset_1D = {}
for key in keys:
    dataset_1D[key] = dataset.variables[key][:].flatten()

In [ ]:
Ref = [[]*0]*0 
for i in range(0,len(dataset_1D['lat'])):
    if dataset_1D['l2_flags'][i] == 0:
        Rrs = []
        for key in keys:
            if 'Rrs' in key:        
                Rrs.append(dataset_1D[key][i])
        Ref.append(Rrs)
        
ww = (np.array(Ref))   
ww = ww[:, :6]

In [ ]:
ww

In [ ]:
# from sklearn.preprocessing import scale 
# ww_scaled = scale(ww)
# ww_scaled

In [ ]:
def reject_outliers(data, m):
    return abs(data - np.median(data)) > m * np.std(data)

idx = ww.copy()
for i in range(0, ww.shape[1]):
    data = ww[:,i]
    idx[:,i] = reject_outliers(data, 2)

idx_outlier = idx.sum(axis=1) != 0

In [ ]:
sum(idx_outlier)

In [ ]:
ww

In [ ]:
model.fit(X, y_trans_log10)
values_pred = model.predict(ww)
idx_values_pred_outlier = reject_outliers(values_pred, 2)
values_pred[idx_values_pred_outlier] = 'NaN'
values_pred_unlog = 10 ** values_pred
values_pred_unlog[idx_outlier] = 'NaN'

In [ ]:
sum(idx_values_pred_outlier)

In [ ]:
image_flat = np.array(dataset_1D['Rrs_492']) 
idx = np.isnan(image_flat)
image_flat[~idx]= values_pred_unlog

In [ ]:
image = image_flat.reshape(dataset.dimensions['y'].size, dataset.dimensions['x'].size)

In [ ]:
import matplotlib.pyplot as plt
from mpl_toolkits.axes_grid1 import make_axes_locatable

ax = plt.figure(figsize = [16,12])
heatmap = plt.imshow(image, cmap='jet', interpolation='nearest')

cbar = plt.colorbar(heatmap, cax = ax.add_axes([.15, 0.15, 0.03, 0.7]))
cbar.ax.tick_params(labelsize=20)

In [ ]:
ax.savefig('SVR_62.png',dpi=500, format='png')